ifctester==0.8.3
pathlib==1.0.1
pydantic==2.11.5
pydantic_core==2.33.2
-e git+https://github.com/devesh-dimble/pyids.git@d80c6f294956a3137ad2017fb5e38e1c4df586a1#egg=pyids
typing==3.7.4.3
typing-inspection==0.4.1
typing_extensions==4.14.0
xmlschema==4.1.0
