annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
attrs==25.3.0
backcall==0.2.0
bcf-client==0.8.2
beautifulsoup4==4.13.5
bleach==6.2.0
blinker==1.9.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
cryptography==45.0.5
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
dotenv==0.9.9
elementpath==5.0.4
executing==2.2.1
fastapi==0.115.12
fastjsonschema==2.21.2
Flask==3.1.1
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
idna==3.10
ifcopenshell==0.8.2
ifctester==0.8.3
iniconfig==2.1.0
ipython==8.12.3
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
lark==1.2.2
lxml==6.0.1
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.1.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
numpy==2.3.0
odfpy==1.4.1
packaging==25.0
pandocfilters==1.5.1
parso==0.8.5
pickleshare==0.7.5
pipreqs==0.5.0
platformdirs==4.4.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
pure_eval==0.2.3
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.2
-e git+https://github.com/devesh-dimble/pyids.git@3e9268e9ff0b4e023f4b6e2eda92327ab7071889#egg=pyids
PyJWT==2.10.1
pystache==0.6.8
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pywin32==311
pyzmq==27.1.0
referencing==0.36.2
requests==2.32.4
rpds-py==0.27.1
shapely==2.1.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.41
stack-data==0.6.3
starlette==0.46.2
tinycss2==1.4.0
tornado==6.5.2
traitlets==5.14.3
typing-inspection==0.4.1
typing_extensions==4.14.0
urllib3==2.5.0
uvicorn==0.34.3
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
xmlschema==4.1.0
xsdata==25.4
yarg==0.1.9
